__pycache__/
*.pyc
#Ignorar los folders resultantes de correr los métodos
engineered_data/
extracted_data/
ml_results/*.pkl
# Ignorar archivos de cobertura de tests
.coverage
htmlcov/
# Ignorar configuración de Flake8
.flake8
.DS_Store
